# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn
4. PyTorch
5. Keras
6. TensorFlow
7. Matplotlib
8. Seaborn

| Data Science Tools |
| -- |
| Jupyter Notebook |
| RStudio |
| Visual Studio Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
hrs = 200/60
print(f"200 minutes in hours would be {hrs} hours.")

200 minutes in hours would be 3.3333333333333335 hours.

**Objectives:**
- List popular languages for Data Science.
- List commonly used libraries used by Data Scientists.
- Evaluate arithmetic expressions in Python.
- Create a table using Python.

## Author:
Vedansh Chauhan